@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    @apply w-screen;
}

#intro {
    background-image: url('../images/bg/02_about.jpg');
}

#intro #play_button_block {
    bottom: 20%;
    height: 10%;
}

#intro #play_button_block a {
    background-image: url('../images/intro-btn.png');
}

#about {
    background-image: url('../images/bg/02_about.jpg');
}
